<div class="container">
    <div class="loading-indicator" *ngIf="isLoader">
      <mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner>
    </div>
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
        <i class="material-icons tag-icon">
            emoji_emotions
            </i>
      <h4>Appiness Assignment </h4>
      
    </div>
    <div class="spacer" align="center">
          <mat-form-field style="width: 50%;">
            <i matPrefix class="material-icons" style="font-size: small; margin-right: 2px;">
              search
              </i>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search username">
          </mat-form-field>
          
          <mat-card class="mat-elevation-z8">
            <!-- <mat-card-content > -->
              <table mat-table [dataSource]="dataSource" matSort>
            
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
                  <td mat-cell *matCellDef="let row"> {{row['login']}} </td>
                </ng-container>
  
                <ng-container matColumnDef="image">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> User Avatar </th>
                  <td mat-cell *matCellDef="let row"> <img [src]="row.avatar_url"></td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="view_data(row)">
                </tr>
              </table>
              
            <!-- </mat-card-content> -->
          </mat-card>
          
    </div>
  </div>